# This is Git's per-user configuration file.
[user]
	email = mike.delafuente@gmail.com
	name = Mike de la Fuente
# Please adapt and uncomment the following lines:
#	name = Mike de la Fuente
#	email = mike.delafuente@gmail.com
[core]
	editor = nvim
[init]
	defaultBranch = main
